{%- extends 'base/base.j2' -%}
{%- block interfaces -%}
    {%- for interface in device.interfaces.all() -%}
        {%- include 'core_router/vyos/interface.j2' -%}
    {%- endfor -%}
    {%- if wg_ifaces is defined -%}
        {%- for wg_iface in wg_ifaces -%}
            {%- include 'core_router/vyos/wireguard.j2' -%}
        {%- endfor -%}
    {%- endif -%}
{%- endblock -%}
{%- block policies -%}
    {%- if policies is defined -%}
        {%- include 'core_router/vyos/policies.j2' -%}
    {%- endif -%}
{%- endblock -%}
{%- block routing -%}
    {%- if routing is defined -%}
        {%- include 'core_router/vyos/routing.j2' -%}
    {%- endif -%}
{%- endblock -%}
{%- block services -%}
    {%- include 'core_router/vyos/service.j2' -%}
{%- endblock -%}