{% extends 'base/base.j2' %}
{% block policies %}
{% for p in policies -%}
{% if p.prefix_lists is defined -%}
{% include 'coure_router/vyos/prefix_lists.j2' -%}
{% endif -%}
{% if p.route_maps is defined %}
{% include 'coure_router/vyos/route_maps.j2' -%}
{% endif -%}
{%- endfor -%}
{% endblock -%}
