{% for interface in device.interfaces.all() %}
{% if interface.name == "lo" %}
{% for ip in interface.ip_addresses.all() %}
{% set router_id_address = ip.address %}
{{ router_id_address }}
{% endfor %}
{% endif %}
{% endfor %}
