{# bgp #}
{% if r.bgp is defined %}
    {# parameters #}
set protocols bgp parameters router-id '{{ bgp.router_id }}'
set protocols bgp system-as '{{ bgp.as }}'
    {# 'global' afis #}
    {% if bgp.afis is defined %}
        {% for af in bgp.afis %}
            {% if af.aggregates is defined %}
                {% for aggregate in af.aggregates %}
set protocols bgp address-family {{ af.afi }} aggregate-address {{ aggregate }}
                {% endfor %}
            {% endif %}
            {% if af.redistribute is defined %}
                {% for rd in af.redistribute %}
set protocols bgp address-family {{ af.afi }} redistribute {{ rd }}
                {%endfor %}
            {% endif %}
            {% if af.networks is defined %}
                {% for network in af.networks %}
set protocols bgp address-family {{ af.afi }} network {{ network }}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {# neighbors #}
    {% for n in bgp.neighbors %}
set protocols bgp neighbor {{ n.ipv4_address }} description '{{ n.description }}'
set protocols bgp neighbor {{ n.ipv4_address }} remote-as '{{ n.remote_as }}'
set protocols bgp neighbor {{ n.ipv4_address }} update-source '{{ n.update_source }}'
        {% if n.afis is defined %}
            {% for af in n.afis %}
set protocols bgp neighbor {{ n.ipv4_address }} address-family {{ af.afi }}
                {% if af.next_hop is defined %}
set protocols bgp neighbor {{ n.ipv4_address }} address-family {{ af.afi }} {{ af.next_hop }}
                {% endif %}
                {% if af.rr is defined %}
set protocols bgp neighbor {{ n.ipv4_address }} address-family {{ af.afi }} {{ af.rr }}
                {% endif %}
                {% if af.route_maps.route_map_export is defined %}
set protocols bgp neighbor {{ n.ipv4_address }} address-family {{ af.afi }} route-map export '{{ af.route_maps.route_map_export }}'
                {% endif %}
                {% if af.route_maps.route_map_import is defined %}
set protocols bgp neighbor {{ n.ipv4_address }} address-family {{ af.afi }} route-map import '{{ af.route_maps.route_map_import }}'
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    {# neighbors6 #}
    {% if bgp.neighbors6 is defined %}
        {% for n in bgp.neighbors6 %}
set protocols bgp neighbor {{ n.ipv6_address }} description '{{ n.description }}'
set protocols bgp neighbor {{ n.ipv6_address }} remote-as '{{ n.remote_as }}'
set protocols bgp neighbor {{ n.ipv6_address }} update-source '{{ n.update_source }}'
            {% if n.afis is defined %}
                {% for af in n.afis %}
set protocols bgp neighbor {{ n.ipv6_address }} address-family {{ af.afi }}
                    {% if af.next_hop is defined %}
set protocols bgp neighbor {{ n.ipv6_address }} address-family {{ af.afi }} {{ af.next_hop }}
                    {% endif %}
                    {% if af.rr is defined %}
set protocols bgp neighbor {{ n.ipv6_address }} address-family {{ af.afi }} {{ af.rr }}
                    {% endif %}
                    {% if af.route_maps.route_map_export is defined %}
set protocols bgp neighbor {{ n.ipv6_address }} address-family {{ af.afi }} route-map export '{{ af.route_maps.route_map_export }}'
                    {% endif %}
                    {% if af.route_maps.route_map_import is defined %}
set protocols bgp neighbor {{ n.ipv6_address }} address-family {{ af.afi }} route-map import '{{ af.route_maps.route_map_import }}'
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endif -%}
