{# bgp #}
{# parameters #}
set protocols bgp parameters router-id '{{ rp.router_id }}'
set protocols bgp system-as '{{ rp.as }}'
{# 'global' afis #}
{% if rp.afis is defined %}
{% for af in rp.afis %}
{% if af.aggregates is defined %}
{% for aggregate in af.aggregates %}
set protocols bgp address-family {{ af.afi }} aggregate-address {{ aggregate }}
{% endfor -%}
{% endif %}
{% if af.redistribute is defined %}
{% for rd in af.redistribute %}
set protocols bgp address-family {{ af.afi }} redistribute {{ rd }}
{%endfor -%}
{% endif %}
{% if af.networks is defined %}
{% for network in af.networks %}
set protocols bgp address-family {{ af.afi }} network {{ network }}
{% endfor -%}
{% endif %}
{% endfor -%}
{% else %}
{% endif %}
{# neighbors #}
{% for n in rp.neighbors %}
set protocols bgp neighbor {{ n.ipv4_address }} description '{{ n.description }}'
set protocols bgp neighbor {{ n.ipv4_address }} remote-as '{{ n.remote_as }}'
set protocols bgp neighbor {{ n.ipv4_address }} update-source '{{ n.update_source }}'
{% if n.afis is defined %}
{% for af in n.afis %}
set protocols bgp neighbor {{ n.ipv4_address }} address-family {{ af.afi }}
{% if af.next_hop is defined %}
set protocols bgp neighbor {{ n.ipv4_address }} address-family {{ af.afi }} {{ af.next_hop }}
{% endif %}
{% if af.rr is defined %}
set protocols bgp neighbor {{ n.ipv4_address }} address-family {{ af.afi }} {{ af.rr }}
{% endif %}
{% if af.rm_export is defined %}
set protocols bgp neighbor {{ n.ipv4_address }} address-family {{ af.afi }} route-map export '{{ af.rm_export }}'
{% endif %}
{% if af.rm_import is defined %}
set protocols bgp neighbor {{ n.ipv4_address }} address-family {{ af.afi }} route-map import '{{ af.rm_import }}'
{% endif %}
{% endfor -%}
{% endif %}
{% endfor -%}
test22 ist {{ test22 }}
router_id_address ist {{ router_id_address }}
{% include 'core_router/vyos/routing_router_id.j2' %}
router is in routing_bgp ist {{ router_id_routing_bgp }}