{% extends 'base/base.j2' -%}
{% block policies -%}
    {% for p in policies %}
        {{ p }}
        {% if prefix_lists is defined %}
            {{ prefix_lists }}
            {% include 'core-router/vyos/prefix_lists.j2' -%}
        {% endif %}
        {% if p == "route_maps" -%}
            {% include 'core-router/vyos/route_maps.j2' -%}
        {% endif -%}
    {% endfor -%}
{% endblock -%}
