{% for rm in p.route_maps -%}
set policy route-map {{ rm.route_map }} description {{ rm.description }}
{% for r in rm.rules -%}
set policy route-map {{ rm.route_map }} rule {{ r.rule }} action {{ r.action }}
{% if r.match is defined -%}
set policy route-map {{ rm.route_map }} rule {{ r.rule }} match {{ r.match }}
{% endif -%}
{% if r.set is defined -%}
set policy route-map {{ rm.route_map }} rule {{ r.rule }} set {{ r.set }}
{% endif -%}
{%- endfor -%}
{%- endfor -%}
