{% for service in services -%}
    {% if service == "ntp" -%}
test ntp
        {% for allow_client in ntp['allow-clients'] -%}
set service ntp allow-client address '{{ allow_client }}'
        {% endfor -%}
        {% for server in ntp.servers -%}
set service ntp '{{ server }}'
        {% endfor -%}
    {% elif service == "ssh" -%}
test ssh
set service ssh port '{{ ssh.port }}'
set service ssh vrf '{{ ssh.vrf }}'
    {% endif -%}
{% endfor -%}
