{% for service in services -%}
{{ service }}
    {% if service == 'ntp' -%}
test ntp
        {% for allow_client in service.allow_clients -%}
set service ntp allow-client address '{{ allow_client }}'
        {% endfor -%}
        {% for server in service.servers -%}
set service ntp '{{ server }}'
        {% endfor -%}
    {% elif service == 'ssh' -%}
test ssh
set service ssh port '{{ service.port }}'
set service ssh vrf '{{ service.vrf }}'
    {% endif -%}
{% endfor -%}
test